* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.u-line-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-flex {
  display: flex;
  align-items: center;
}
.baseline {
  align-items: baseline;
}
.u-flex-1 {
  flex: 1;
  overflow: hidden;
}
.u-row-between {
  justify-content: space-between;
}
.cursor-pointer {
  cursor: pointer;
}

.flex-r-c{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-c-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mb24{
  margin-bottom: 24px;
}
.p-r{
  position: relative;
}
/* tab-css */
.el-tabs.el-tabs--card {
  .el-tabs__header {
    margin-bottom: 55px;
    height: auto;
    border-color: #d6d6d6;
  }

  .is-active {
    border-bottom-width: 0px !important;
  }

  .el-tabs__item,
  .el-tabs__header .el-tabs__nav {
    border: 0px;
  }

  .el-tabs__header .el-tabs__item:first-child {
    border-left: 1px solid #d6d6d6;
  }

  .el-tabs__item {
    padding: 10px 27px;
    height: auto;
    line-height: 41px;
    color: #999999;
    margin-right: 12px;
    font-size: 28px;
    background: #f8f9fb;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #d6d6d6;
  }

  .el-tabs__item.is-active {
    color: #7e4ce1;
    border: 1px solid #7e4ce1 !important;
    border-bottom: 0px !important;
    background-color: #fff;
  }
}

/* tab-css */