* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.u-line-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-flex {
  display: flex;
  align-items: center;
}
.baseline {
  align-items: baseline;
}
.u-flex-1 {
  flex: 1;
  overflow: hidden;
}
.u-row-between {
  justify-content: space-between;
}
.cursor-pointer {
  cursor: pointer;
}
